<header>
	<div class="container">
		<div class="row">
			<div class="site-name">
				<h1>My Blog</h1>
			</div>

			<nav class="menu-container">
				<ul class="h-menu menu">
					<li>
						<a href="{{ path('app_home') }}">Home</a>
					</li>
					<li>
						<a href="{{ path('app_blog_index') }}">Blogs</a>
					</li>
					<li>
						<a href="{{ path('app_tags_index') }}">Tags</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</header>
